<%= stylesheet_link_tag "home", :media => "all" %>
 <div class="container">
<section class="hero is-light">
  <div class="hero-body">
    <p class="title">
      Sports online
    </p>
    <p class="subtitle">
      Primary subtitle
    </p>
  </div>
</section>


<br>
<br>
<div class="columns is-multiline is-mobile>

  <div class="column">
  <div class="card">
  <div class="card-content">
    <div class="content">
   <figure class="image is-2by1	">
  <iframe class="has-ratio" width="640" height="360" src="https://v3.sportsonline.to/channels/hd/hd1.php" frameborder="0" allowfullscreen></iframe>
</figure>
    </div>
  </div>
</div>
  </div>
  <div class="column">
<div class="card">
  <div class="card-content">
    <div class="content">
    	   <figure class="image is-2by1	">

 <iframe class="has-ratio" width="640" height="360" src="https://v3.sportsonline.to/channels/hd/hd1.php" frameborder="0" allowfullscreen></iframe>
</figure>
    </div>
  </div>
</div>
  </div>
  <div class="column">
    <div class="card">
  <div class="card-content">
    <div class="content">
    	   <figure class="image is-2by1	
">

  <iframe class="has-ratio" width="640" height="360" src="https://v3.sportsonline.to/channels/hd/hd1.php" frameborder="0" allowfullscreen></iframe>
</figure>
    </div>
  </div>
</div>
  </div>
  <div class="column">
<div class="card">
  <div class="card-content">
    <div class="content">
    	   <figure class="image is-2by1	">

 <iframe class="has-ratio" width="640" height="360" src="https://v3.sportsonline.to/channels/hd/hd1.php" frameborder="0" allowfullscreen></iframe>
</figure>
    </div>
  </div>
</div>  </div>
</div>
</div>