
@import 'bulma'; 

html,body
{
  height:100%;
  width:100%;
  margin:0;
}

.welcomeimage {

width:100%;

height:100%;
border:25px solid hsl(0, 0%, 21%);
background: url("welcomepage");
background-repeat:no-repeat;
background-size:cover;
display:flex;

background-position:center;

}


.form {
background-color:  hsl(217, 71%, 53%)	 ;
width: 50%;
color: white;
margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) }
}

.inputform {


}